*{
	margin:0px;
	font-family: "myriad-pro", sans-serif;
}
body{
	background-color: #888;
	text-align: center;
}
a{
	text-decoration: none;
	color:white;
}
a.decor{
	text-decoration: underline;
}
h1{
	font-family: "OpenSans", sans-serif;
}
#content-wrapper{
	max-width: 800px;
	width: calc(100vw - 16px);
	background-color: #000;
	margin: auto;
	margin-top: 8px;
	text-align: center;
	padding: 8px;
	color: white;
	border-radius: 5px;
}
.linkButton{
	display: block;
	width: 300px;
	padding: 10px;
	margin: auto;
	margin-bottom: 10px;
	margin-top: 10px;
	background-color: #555;
	border-radius: 10px;
	font-size: 24px;
}
.linkButton:hover{
	background-color: #888;
}

#homeButton{
	display: inline-block;
	border: black 5px solid;
	border-radius: 5px;
	background-color: #DDD;
	color: black;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
	padding:5px;
}