#Caption{
	background-color: #DDD;
	color: black;
	border:white solid 1px;
	box-shadow: 3px 3px 5px #222;
	border-radius: 4px;
	position: absolute;
	cursor: default;
	padding: 2px;
}
h1,h2,h3{
	margin-bottom: 10px;
}
#descriptionBox{
	display: hidden;
	background-color: #DDD;
	color: black;
	text-align: left;
	margin-top: 10px;
	border-radius: 5px;
	padding: 5px;
}